<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="./vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="mycp">
			<my-button ></my-button>
			<h2>切换来了</h2>
			<template v-if="uname" >
				<label>uname:</label>
				<input type="text" key="name-input" />
			</template>
			<template v-else>
				<label>email:</label>
				<input type="text"  key="emial-input"/>
			</template>
			<button @click="toggle">切换</button>
			
			<br />
			<select v-model="selected"  @select="showselect">
				<option v-bind:value="aa">sth</option>
			</select>
			<h1>{{selected}}</h1>
			<br />
			<input  type="text" v-model="aa"/>
			
		</div>
		
		<!-- todo -->
		<!-- 怎么复用 -->
		<script type="text/javascript">
			Vue.component('my-button',{
				data:function(){
					return {info:'点我'}
				},
				methods:{
					cclick:function(){
						alert(this.info)
					}
				},
				template:"<button v-on:click='cclick'>{{info}}</button>"
			});
			
			var mybtn = new Vue({
				el:'#mycp',
				data:{
					uname:false,
					selected:'',
					aa:"新值"
				},
				methods:{
					toggle:function(){
						this.uname= this.uname?false:true
					},
					showselect(){
						
					}
				}
			})
		</script>
	</body>
</html>
